@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-royal:#5C1A72;
    --color-forest:#2E7D32;
    --color-blush:#F7C7CC;
    --color-wood:#BB5E3C;
    --color-charcoal:#333333;

    --font-montserrat: "Montserrat", sans-serif;;
}

::-webkit-scrollbar {
    display:none;
}